{% extends "layout.html" %}


{% block page_title %}Descargar foto{% endblock %}

{% block content %}

<div class="row">
    <div class="col s6">
        <!-- foto details -->

        <h4>{{ foto.headline }}</h4>
        <p class="center-align">
            <img src="{{ url_for('.photo_thumbnail', id=foto.md5) }}" alt="" class="responsive-img">
        </p>
        <div class="photocoverage-excerpt">
            {{ render_excerpt(foto.excerpt)|safe }}
        </div>
        <div class="photocoverage-keywords">
            <i class="material-icons left">label</i> 
            {% for k in foto.keywords %}
            <div class="chip">{{ k }}</div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col s6">
                <p><i class="material-icons left">person</i> {{ foto.taken_by }}</p>
                <p><i class="material-icons left">file_upload</i> {{foto.uploader.name}}</p>
                {% if foto.taken_on %}
                <p>
                    <i class="material-icons left">event</i> 
                    <span data-controller="fecha" data-fecha-momento-value="{{ foto.taken_on.isoformat() }}" data-fecha-formato-value="L">
                        {{foto.taken_on.isoformat()}}
                    </span>
                </p>
                {% endif %}
            </div>
            <div class="col s6">
                <!-- opcionales -->
                {% if foto.camera %}<div class="exiftag"><i class="exificon material-icons">camera_alt</i> {{foto.camera}}</div>{% endif %}
                {% if foto.fnumber %}<div class="exiftag"><i class="exificon material-icons">camera</i> f/{{foto.fnumber}}</div>{% endif %}
                {% if foto.exposuretime %}<div class="exiftag"><i class="exificon material-icons">av_timer</i> {{foto.exposuretime}}s</div>{% endif %}
                {% if foto.focal %}<div class="exiftag"><i class="exificon material-icons">lens</i> {{foto.focal}}mm</div>{% endif %}
                {% if foto.isovalue %}<div class="exiftag"><i class="exificon material-icons">iso</i> {{foto.isovalue}}</div>{% endif %}
                {% if foto.software %}<div class="exiftag"><i class="exificon material-icons">brush</i> {{foto.software}}</div>{% endif %}
                {% if foto.image_width and foto.image_height %}<div class="exiftag"><i class="exificon material-icons">crop</i> {{foto.image_width}} x {{foto.image_height}}</div>{% endif %}
                <!-- END: opcionales -->
            </div>
        </div>
        <!-- END: foto details -->
    </div>

    <div class="col s6">
        <!-- export options -->
        <div class="card-panel mt-5">
            <p class="center-align grey-text text-darken-2">
                Preparada para la web, incluye marca de agua.
            </p>
            <p class="center-align">
                <a href="{{ url_for('.photo_download', id=foto.md5, web='true') }}" class="waves-effect waves-light btn"><i class="material-icons left">file_download</i>Descargar para web</a>
            </p>
        </div>

        <div class="card-panel">
            <p class="center-align grey-text text-darken-2">
                Original de la foto, exactamente como se almaceno en PhotoStore
            </p>
            <p class="center-align">
                {% if can_download_photo(foto.md5) %}
                <a  href="{{ url_for('.photo_download', id=foto.md5) }}" class="waves-effect waves-light btn"><i class="material-icons left">file_download</i>Descargar orginal</a>
                {% else %}
                <a  class="waves-effect waves-light btn disabled"><i class="material-icons left">file_download</i>Descargar orginal</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>

{% endblock %}

